<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>jts-portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/jstree.css">
    <link rel="stylesheet" href="css/bootstrap-multiselect.css">
</head>

<body>

    <div class="modal fade" style="animation-name: animatetop;" id="logs" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width: 95%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #13215c; color: white;">
                    <h5 class="modal-title" id="modaltitle">Sensor collection, please wait...<i>This may take 2
                            minutes</i></h5>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalcore"
                    style='font-family: "Courier New", Courier, monospace; max-height: 600px;'>

                </div>
            </div>
        </div>
    </div>



    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><img src="img/logo.png" width="129" height="67"><a
                class="navbar-brand d-flex align-items-center" href="#"><span>Juniper Telemetry Stack</span></a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="cred.html">Credentials</a></li>
                    <li class="nav-item"><a class="nav-link" href="routers.html">Routers</a></li>
                    <li class="nav-item"><a class="nav-link" href="profiles.html">Profiles</a></li>
                    <li class="nav-item"><a class="nav-link" href="doc.html">Doc</a></li>
                    <li class="nav-item"><a class="nav-link active" href="browser.html"
                            style="border-color: rgba(0, 0, 0, 0.65);">Browser</a></li>
                    <li class="nav-item"><a class="nav-link" href="/?orgId=1"
                            onclick="javascript:event.target.port={{.GrafanaPort}}">Grafana</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Telemetry sensor Analyzer</h4>
            <form style="margin-top: 10px;">
                <label class="form-label">Select a Router:</label>&nbsp;
                <select id="router" class="selectpicker" data-width="auto">
                    {{range .Rtrs}}
                    <option value="{{.Shortname}}">{{.Shortname}}</option>
                    {{end}}
                </select>
                </br>
                </br>
                <label class="form-label">Enter the Sensor's Xpath:</label>&nbsp;<input id="pathName"
                    class="form-control" type="text">
                <div style="margin-top: 10px;" class="form-check">
                    <input class="form-check-input" type="checkbox" id="merge" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        Merge data for cleaner view (recommended)?
                    </label>
                </div>
            </form>
            <input class="btn btn-primary" type="submit" value="Analyze path" name="browse" id="browse"
                style="margin: 10px;margin-right: 0;margin-bottom: 0;margin-left: 0;">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Results</h4>
            <form class="form-inline">
            <input class="form-control" type="text" id="searching" name="searching"
                placeholder="Search in Tree" />
            <input class="btn btn-secondary" type="submit" value="Collapse all" name="collapse" id="collapse"
                style="margin: 10px;margin-right: 0;margin-bottom: 0;margin-left: 0;">
            <input class="btn btn-secondary" type="submit" value="Expand all" name="expand" id="expand"
                style="margin: 10px;margin-right: 0;margin-bottom: 0;margin-left: 0;">
            </form>

            <div id="result" margin:10px;>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/bootstrap-multiselect.js"></script>
    <script src="js/bootstrap-waitingfor.min.js"></script>
    <script src="js/jstree.min.js"></script>
    <script src="js/browser.js"></script>

</body>

</html>