<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>jts-portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/bootstrap-multiselect.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><img src="img/logo.png" width="129" height="67"><a class="navbar-brand d-flex align-items-center" href="#"><span>Juniper Telemetry Stack</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="cred.html" style="border-color: rgba(0, 0, 0, 0.65);">Credentials</a></li>
                    <li class="nav-item"><a class="nav-link" href="routers.html">Routers</a></li>
                    <li class="nav-item"><a class="nav-link " href="profiles.html">Profiles</a></li>
                    <li class="nav-item"><a class="nav-link" href="doc.html" >Doc</a></li>
                    <li class="nav-item"><a class="nav-link" href=":8080/?orgId=1">Grafana</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Credentials Management</h4>
            <form><label class="form-label" style="margin-top: 10px;">Netconf Username:</label><input id="Username" class="form-control" type="text" value="{{.Netuser}}"></form>
            <form style="margin-top: 10px;"><label class="form-label">Netconf Password:</label><input id="Password" class="form-control" type="password" value="{{.Netpwd}}"></form>
            <form><label class="form-label" style="margin-top: 10px;">Gnmi Username:</label><input id="Username2" class="form-control" type="text" value="{{.Gnmiuser}}"></form>
            <form style="margin-top: 10px;"><label class="form-label">Gnmi Password:</label><input id="Password2" class="form-control" type="password" value="{{.Gnmipwd}}"></form>
            <div style="margin-top: 10px;" class="form-check">
                {{if eq .Usetls "yes"}}
                <input class="form-check-input" type="checkbox" id="Usetls" checked>
                {{ else }}
                <input class="form-check-input" type="checkbox" id="Usetls">
                {{ end }}
                <label class="form-check-label" for="flexCheckDefault">
                  Use TLS for gNMI?
                </label>
              </div>
              </select></form><input onclick="saveCred();" class="btn btn-primary" type="submit" value="Update" name="addB" style="margin: 10px;margin-right: 0;margin-bottom: 0;margin-left: 0;">
        </div>
    </div>
   
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/bootstrap-multiselect.js"></script>
    <script src="js/cred.js"></script>

</body>

</html>