<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>jts-portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/prism.min.css">
    <link rel="stylesheet" href="css/jtsostyle.css">
</head>

<body>


    <div class="modal fade" style="animation-name: animatetop;" id="config" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width: 95%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #13215c; color: white;">
                    <h5 class="modal-title" id="modaltitle">Telegraf Config Viewer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none; border: none;">
                        <i class="fas fa-times" aria-hidden="true" style="font-size: 1.5rem; color: white;"></i>
                    </button>
                </div>
                <div class="modal-body" id="modalcore"
                    style='font-family: "Courier New", Courier, monospace; max-height: 600px; text-shadow: none;'>
    
                </div>
            </div>
        </div>
    </div>
    


    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container">
            <img src="img/logo-new.png" width="300" height="50">
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="routers.html">Routers</a></li>
                    <li class="nav-item"><a class="nav-link" href="profiles.html">Profiles</a></li>
                    <li class="nav-item"><a class="nav-link" href="doc.html">Doc</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.GrafanaPort}} + '/?orgId=1, _blank')">Grafana</a></li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" data-bs-toggle="dropdown">Tools</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="browser.html">gNMI browser</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-bs-toggle="dropdown">Admin</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="cred.html">Credentials</a></li>
                            <li><a class="dropdown-item" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.ChronografPort}} + '/sources/0/chronograf/data-explorer', '_blank')">Manage InfluxDB</a></li>
                            <li><a class="dropdown-item" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.ChronografPort}} + '/sources/0/tickscripts', '_blank')">Manage Tick scripts</a></li>
                            <li><a class="dropdown-item" href="stats.html">Stack Util. & Logs</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="form-check form-switch ms-3">
                  <input class="form-check-input" type="checkbox" id="darkModeSwitch">
                  <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
              </div>
            </div>
        </div>
    </nav>

    <div class="other-div">
        <div class="card other-card">
            <div class="card-body">
                <h4 class="card-title">Profile documentation</h4>
                <form>
                    <label class="form-label">Select profile:</label>
                    <select id="profiles" class="selectpicker" data-width="100%" onchange="updateDoc()">
                        <option value="default">Select a profile</option>
                        {{range .Profiles}}
                        <option value="{{.}}">{{.}} profile</option>
                        {{end}}
                    </select>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="other-div">
        <div class="card other-card">
            <div class="card-body">
                <h4 class="card-title">Profile details</h4>
                <div class="row g-0">
                    <div class="col-md-8">
                        <img id="profileImg" src="img/default.png" class="img-fluid rounded-start" alt="pic not found">
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title">Description</h4>
                            <p id="profileDesc" class="card-text">N/A</p>
                            <h4 class="card-title">Telegraf Configuration(s)</h4>
                            <p id="profileTele" class="card-text">N/A</p>
                            <h4 class="card-title">Grafana Dashboard(s)</h4>
                            <p id="profileGraf" class="card-text">N/A</p>
                            <h4 class="card-title">Kapacitor Script(s)</h4>
                            <p id="profileKapa" class="card-text">N/A</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-multiselect.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/bootstrap-waitingfor.min.js"></script>
    <script src="js/prism.min.js"></script>
    <script src="js/prism-json.min.js"></script>
    <script src="js/doc.js"></script>
    <script src="js/dark.js"></script>
</body>

</html>