<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>jts-portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/Navbar-Right-Links-icons.css">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><img src="img/logo.png" width="129" height="67"><a class="navbar-brand d-flex align-items-center" href="#"><span>Juniper Telemetry Stack</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html" style="border-color: rgba(0, 0, 0, 0.65);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="cred.html">Credentials</a></li>
                    <li class="nav-item"><a class="nav-link" href="routers.html">Routers</a></li>
                    <li class="nav-item"><a class="nav-link" href="profiles.html">Profiles</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stack Overview</h4>
            <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="904px" height="421px" viewBox="-0.5 -0.5 904 421">
            <defs/>
            <g>
                <rect x="443" y="170" width="190" height="80" rx="12" ry="12" fill="#f8cecc" stroke="#b85450" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 210px; margin-left: 444px;">
                                <div data-drawio-colors="color: rgb(0, 0, 0); " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">INFLUX DB</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="538" y="214" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px" text-anchor="middle">INFLUX DB</text>
                    </switch>
                </g>
                <image x="442.5" y="189.5" width="40" height="40" xlink:href="https://cdn2.iconfinder.com/data/icons/boxicons-logos/24/bxl-docker-128.png" preserveAspectRatio="none"/>
                <rect x="443" y="0" width="190" height="80" rx="12" ry="12" fill="#f8cecc" stroke="#b85450" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 40px; margin-left: 444px;">
                                <div data-drawio-colors="color: rgb(0, 0, 0); " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">KAPACITOR</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="538" y="44" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px" text-anchor="middle">KAPACITOR</text>
                    </switch>
                </g>
                <image x="442.5" y="19.5" width="40" height="40" xlink:href="https://cdn2.iconfinder.com/data/icons/boxicons-logos/24/bxl-docker-128.png" preserveAspectRatio="none"/>
                <rect x="713" y="170" width="190" height="80" rx="12" ry="12" fill="#f8cecc" stroke="#b85450" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 210px; margin-left: 714px;">
                                <div data-drawio-colors="color: rgb(0, 0, 0); " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">GRAFANA</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="808" y="214" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px" text-anchor="middle">GRAFANA</text>
                    </switch>
                </g>
                <image x="712.5" y="189.5" width="40" height="40" xlink:href="https://cdn2.iconfinder.com/data/icons/boxicons-logos/24/bxl-docker-128.png" preserveAspectRatio="none"/>
                <rect x="433" y="340" width="190" height="80" rx="12" ry="12" fill="#f8cecc" stroke="#b85450" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 380px; margin-left: 434px;">
                                <div data-drawio-colors="color: rgb(0, 0, 0); " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">JTSO
                                        <br />Enricher/Manager
                                    </div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="528" y="384" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px" text-anchor="middle">JTSO...</text>
                    </switch>
                </g>
                <image x="432.5" y="359.5" width="40" height="40" xlink:href="https://cdn2.iconfinder.com/data/icons/boxicons-logos/24/bxl-docker-128.png" preserveAspectRatio="none"/>
                <path d="M 543 150.5 L 553.5 150.5 L 538 169.5 L 522.5 150.5 L 533 150.5 L 533 99.5 L 522.5 99.5 L 538 80.5 L 553.5 99.5 L 543 99.5 Z" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
                <path d="M 652.5 215 L 652.5 225.5 L 633.5 210 L 652.5 194.5 L 652.5 205 L 693.5 205 L 693.5 194.5 L 712.5 210 L 693.5 225.5 L 693.5 215 Z" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
                <path d="M 351.01 124.61 L 355.87 115.87 L 428.38 156.16 L 433.48 146.98 L 442.56 169.76 L 418.43 174.08 L 423.53 164.9 Z" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
                <path d="M 356.1 303.96 L 350.75 295.51 L 423.85 249.24 L 418.23 240.37 L 442.58 243.31 L 434.81 266.57 L 429.2 257.69 Z" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
                <path d="M 353.5 215 L 353.5 205 L 423.5 205 L 423.5 194.5 L 442.5 210 L 423.5 225.5 L 423.5 215 Z" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
                <rect x="163" y="80" width="190" height="80" rx="12" ry="12" fill="#f8cecc" stroke="#b85450" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 120px; margin-left: 164px;">
                                <div data-drawio-colors="color: rgb(0, 0, 0); " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">TELEGRAF MX</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="258" y="124" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px" text-anchor="middle">TELEGRAF MX</text>
                    </switch>
                </g>
                <image x="162.5" y="99.5" width="40" height="40" xlink:href="https://cdn2.iconfinder.com/data/icons/boxicons-logos/24/bxl-docker-128.png" preserveAspectRatio="none"/>
                <rect x="163" y="170" width="190" height="80" rx="12" ry="12" fill="#f8cecc" stroke="#b85450" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 210px; margin-left: 164px;">
                                <div data-drawio-colors="color: rgb(0, 0, 0); " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">TELEGRAF PTX</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="258" y="214" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px" text-anchor="middle">TELEGRAF PTX</text>
                    </switch>
                </g>
                <image x="162.5" y="189.5" width="40" height="40" xlink:href="https://cdn2.iconfinder.com/data/icons/boxicons-logos/24/bxl-docker-128.png" preserveAspectRatio="none"/>
                <rect x="163" y="260" width="190" height="80" rx="12" ry="12" fill="#f8cecc" stroke="#b85450" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 300px; margin-left: 164px;">
                                <div data-drawio-colors="color: rgb(0, 0, 0); " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">TELEGRAF ACX</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="258" y="304" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px" text-anchor="middle">TELEGRAF ACX</text>
                    </switch>
                </g>
                <image x="162.5" y="279.5" width="40" height="40" xlink:href="https://cdn2.iconfinder.com/data/icons/boxicons-logos/24/bxl-docker-128.png" preserveAspectRatio="none"/>
                <path d="M 55.14 143 C 42.09 143 33 132.32 33 121.23 L 33 118.75 C 33 107.73 41.97 97 55.17 97 C 67.35 97 77.08 106.96 77.08 118.83 L 77.08 120.99 C 77.08 132.97 67.35 143 55.14 143 Z" fill="#60a917" stroke="none" pointer-events="all"/>
                <path d="M 33 118.75 C 33 131.5 42.94 141.11 55.09 141.11 C 66.08 141.11 77.08 132.44 77.08 118.83 L 77.08 120.99 C 77.08 132.99 67.35 143 55.14 143 C 42.07 143 33 132.26 33 121.23 Z" fill-opacity="0.3" fill="#000000" stroke="none" pointer-events="all"/>
                <rect x="33" y="97" width="0" height="0" fill="none" stroke="#2d7600" pointer-events="all"/>
                <path d="M 51.26 119.05 L 43.51 123.63 L 43.51 120.94 L 35.47 120.94 L 35.47 117.32 L 43.51 117.32 L 43.51 114.55 Z M 58.81 119.06 L 66.56 114.56 L 66.56 117.32 L 74.61 117.32 L 74.61 120.94 L 66.56 120.94 L 66.56 123.62 Z M 55.04 138.95 L 50.55 131.1 L 53.22 131.1 L 53.22 107.24 L 50.54 107.24 L 55.04 99.4 L 59.53 107.24 L 56.85 107.24 L 56.85 131.1 L 59.53 131.1 Z" fill="#ffffff" stroke="none" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe flex-start; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 150px; margin-left: 55px;">
                                <div data-drawio-colors="color: #000000; " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: nowrap;">0 Router(s) collected</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="55" y="162" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">0 Route...</text>
                    </switch>
                </g>
                <path d="M 77.58 125 L 77.58 115 L 143.5 115 L 143.5 104.5 L 162.5 120 L 143.5 135.5 L 143.5 125 Z" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
                <path d="M 55.14 230 C 42.09 230 33 219.32 33 208.23 L 33 205.75 C 33 194.73 41.97 184 55.17 184 C 67.35 184 77.08 193.96 77.08 205.83 L 77.08 207.99 C 77.08 219.97 67.35 230 55.14 230 Z" fill="#60a917" stroke="none" pointer-events="all"/>
                <path d="M 33 205.75 C 33 218.5 42.94 228.11 55.09 228.11 C 66.08 228.11 77.08 219.44 77.08 205.83 L 77.08 207.99 C 77.08 219.99 67.35 230 55.14 230 C 42.07 230 33 219.26 33 208.23 Z" fill-opacity="0.3" fill="#000000" stroke="none" pointer-events="all"/>
                <rect x="33" y="184" width="0" height="0" fill="none" stroke="#2d7600" pointer-events="all"/>
                <path d="M 51.26 206.05 L 43.51 210.63 L 43.51 207.94 L 35.47 207.94 L 35.47 204.32 L 43.51 204.32 L 43.51 201.55 Z M 58.81 206.06 L 66.56 201.56 L 66.56 204.32 L 74.61 204.32 L 74.61 207.94 L 66.56 207.94 L 66.56 210.62 Z M 55.04 225.95 L 50.55 218.1 L 53.22 218.1 L 53.22 194.24 L 50.54 194.24 L 55.04 186.4 L 59.53 194.24 L 56.85 194.24 L 56.85 218.1 L 59.53 218.1 Z" fill="#ffffff" stroke="none" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe flex-start; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 237px; margin-left: 55px;">
                                <div data-drawio-colors="color: #000000; " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: nowrap;">0 Router(s) collected</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="55" y="249" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">0 Route...</text>
                    </switch>
                </g>
                <path d="M 77.58 212 L 77.58 202 L 143.5 202 L 143.5 191.5 L 162.5 207 L 143.5 222.5 L 143.5 212 Z" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
                <path d="M 55.14 323 C 42.09 323 33 312.32 33 301.23 L 33 298.75 C 33 287.73 41.97 277 55.17 277 C 67.35 277 77.08 286.96 77.08 298.83 L 77.08 300.99 C 77.08 312.97 67.35 323 55.14 323 Z" fill="#60a917" stroke="none" pointer-events="all"/>
                <path d="M 33 298.75 C 33 311.5 42.94 321.11 55.09 321.11 C 66.08 321.11 77.08 312.44 77.08 298.83 L 77.08 300.99 C 77.08 312.99 67.35 323 55.14 323 C 42.07 323 33 312.26 33 301.23 Z" fill-opacity="0.3" fill="#000000" stroke="none" pointer-events="all"/>
                <rect x="33" y="277" width="0" height="0" fill="none" stroke="#2d7600" pointer-events="all"/>
                <path d="M 51.26 299.05 L 43.51 303.63 L 43.51 300.94 L 35.47 300.94 L 35.47 297.32 L 43.51 297.32 L 43.51 294.55 Z M 58.81 299.06 L 66.56 294.56 L 66.56 297.32 L 74.61 297.32 L 74.61 300.94 L 66.56 300.94 L 66.56 303.62 Z M 55.04 318.95 L 50.55 311.1 L 53.22 311.1 L 53.22 287.24 L 50.54 287.24 L 55.04 279.4 L 59.53 287.24 L 56.85 287.24 L 56.85 311.1 L 59.53 311.1 Z" fill="#ffffff" stroke="none" pointer-events="all"/>
                <g transform="translate(-0.5 -0.5)">
                    <switch>
                        <foreignObject pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow: visible; text-align: left;">
                            <div
                                xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe flex-start; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 330px; margin-left: 55px;">
                                <div data-drawio-colors="color: #000000; " style="box-sizing: border-box; font-size: 0px; text-align: center;">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: nowrap;">0 Router(s) collected</div>
                                </div>
                            </div>
                        </foreignObject>
                        <text x="55" y="342" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">0 Route...</text>
                    </switch>
                </g>
                <path d="M 77.58 305 L 77.58 295 L 143.5 295 L 143.5 284.5 L 162.5 300 L 143.5 315.5 L 143.5 305 Z" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
            </g>
            <switch>
                <g requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"/>
                <a transform="translate(0,-5)" xlink:href="https://www.drawio.com/doc/faq/svg-export-text-problems" target="_blank">
                    <text text-anchor="middle" font-size="10px" x="50%" y="100%">Text is not SVG - cannot display</text>
                </a>
            </switch>
        </svg>
        </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>



</body>

</html>