<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>jts-portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="css/jtsmain.css">
    <!-- <link rel="stylesheet" href="css/ondemand.css"> -->
</head>

<body>

    <div class="modal fade" style="animation-name: animatetop;" id="monitor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width: 95%;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #13215c; color: white;">
                    <h5 class="modal-title" id="modaltitle">Sensor Fields and Tags extraction
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none; border: none;">
                        <i class="fas fa-times" aria-hidden="true" style="font-size: 1.5rem; color: white;"></i>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column gap-3" id="modal-body">

                    <!-- ===== ROUTER SELECT + BUTTON ===== -->
                    <div class="d-flex align-items-end gap-2">
                        <div class="flex-fill">
                            <label for="router" class="form-label">
                                Test on one router:
                            </label>
                            <select id="router" class="selectpicker" data-width="100%" data-size="5">
                                {{range .Rtrs}}
                                <option value="{{.Shortname}}">{{.Shortname}}</option>
                                {{end}}
                            </select>
                        </div>

                        <button class="btn btn-success" id="gnmiconce">
                            Launch a gNMI collect
                        </button>
                    </div>
                    <hr class="my-3">
                    <!-- ===== ALIASES ROW ===== -->
                    <div class="d-flex flex-column gap-2" id="aliases-info">
                        <h6 class="mb-1">Aliases identified:</h6>

                        <div class="d-flex flex-wrap gap-3" id="aliases-list">


                            <!-- dynamically add more aliases here -->
                        </div>
                    </div>

                    <hr class="my-3">
                    <!-- ===== TABLES ROW ===== -->
                    <div class="d-flex gap-3">

                        <!-- ===== LEFT TABLE : GroupBy Tags ===== -->
                        <div class="flex-fill">
                            <h6 class="mb-2">Associated Tags Detected (FYI):</h6>
                            <table class="table table-sm table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Tag name</th>
                                    </tr>
                                </thead>
                                <tbody id="alltags-table">
                                </tbody>
                            </table>
                        </div>

                        <!-- ===== RIGHT TABLE : Fields to Monitor ===== -->
                        <div class="flex-fill">
                            <h6 class="mb-2">Fields found:</h6>
                            <table class="table table-sm table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Field name</th>
                                        <th class="text-center" style="width: 90px;">Monitor</th>
                                        <th class="text-center" style="width: 90px;">Rate</th>
                                        <th class="text-center" style="width: 90px;">Convert</th>
                                    </tr>
                                </thead>
                                <tbody id="fields-table">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="applyMonitor">
                        Monitor
                    </button>
                    <button class="btn btn-secondary" id="cancelMonitor">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fieldModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Field and its Tags</h5>
                </div>

                <div class="modal-body">
                    <input id="fieldName" class="form-control mb-2" placeholder="Field name">

                    <div class="form-check">
                        <input id="convertCheck" class="form-check-input" type="checkbox">
                        <label class="form-check-label">Convert</label>
                    </div>

                    <div class="form-check">
                        <input id="rateCheck" class="form-check-input" type="checkbox">
                        <label class="form-check-label">Compute rate</label>
                    </div>

                    <input id="tagName" class="form-control mb-2" placeholder="Full Tag's path. Add several? use ;">
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-warning" onclick="addField()">Add</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="aliasModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Alias</h5>
                </div>

                <div class="modal-body">
                    <input id="aliasName" class="form-control" placeholder="Alias path">
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" onclick="addAlias()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container">
            <img src="img/logo-new.png" width="300" height="50">
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="routers.html">Routers</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown">Profiles</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="profiles.html">Associations</a></li>
                            <li><a class="dropdown-item" href="pmanagement.html">Management</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.GrafanaPort}} + '/?orgId=1, _blank')">Grafana</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" data-bs-toggle="dropdown">Tools</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="browser.html">gNMI browser</a></li>
                            <li><a class="dropdown-item" href="ondemand.html">On-demand Graph</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-bs-toggle="dropdown">Admin</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="cred.html">Credentials</a></li>
                            <li><a class="dropdown-item" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.ChronografPort}} + '/sources/0/chronograf/data-explorer', '_blank')">Manage InfluxDB</a></li>
                            <li><a class="dropdown-item" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.ChronografPort}} + '/sources/0/tickscripts', '_blank')">Manage Tick scripts</a></li>
                            <li><a class="dropdown-item" href="stats.html">Stack Util. & Logs</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="form-check form-switch ms-3">
                    <input class="form-check-input" type="checkbox" id="darkModeSwitch">
                    <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                </div>
            </div>
        </div>
    </nav>

    <div class="other-div">
        <div class="card other-card">
            <h4 class="card-title">Manage path(s) to monitor</h4>
            <div class="card-body text-start">
                <!-- Path + Analyse -->
                <div class="d-flex gap-2 align-items-center mb-3">
                    <input id="pathName" class="form-control" type="text" placeholder="Enter an sensor path (i.e /interfaces/interface/state/counters)">
                    <input id="interval" class="form-control" type="number" min="2" placeholder="Interval in secs" style="width: 180px;">
                    <button id="analyze" class="btn btn-secondary flex-shrink-0">
                        Analyse path instead?
                    </button>
                </div>

                <!-- Add buttons -->
                <div class="mb-3">
                    <strong>Add Fields, Tags, Aliases manually:&nbsp;</strong>
                    <button class="btn btn-sm btn-outline-warning me-2" data-bs-toggle="modal" data-bs-target="#fieldModal">
                        + Field
                    </button>
                    <button class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#aliasModal">
                        + Alias
                    </button>
                </div>

                <!-- Preview -->
                <div class="mb-2">
                    <strong>Fields to monitor: </strong>
                    <div id="fieldsPreview" class="d-flex flex-wrap gap-1 mt-1"></div>
                </div>
                <div class="mb-2">
                    <strong>Tags to include: </strong>
                    <div id="tagsPreview" class="d-flex flex-wrap gap-1 mt-1"></div>
                </div>
                <div class="mb-2">
                    <strong>Aliases to include: </strong>
                    <div id="aliasesPreview" class="d-flex flex-wrap gap-1 mt-1"></div>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-center align-items-center">
                <input class="btn btn-success" type="button" value="Add Path" id="addentry" style="margin-right:10px;">
                <input class="btn btn-danger" type="button" value="Reset" id="resetentry">
            </div>
        </div>
    </div>

    <br />
    <div class="other-div">
        <div class="card other-card">
            <h4 class="card-title">On-demand collector current state</h4>

            <form>
                <div id="monitor" class="row g-3">
                    <!-- BLOCK 1: Configuration -->
                    <div class="col-lg-4">
                        <div class="border rounded p-3 h-100">

                            <div class="row align-items-center g-2">
                   

                                <!-- Config buttons -->
                                <div class="col-lg-6">
                                    <button type="button" id="load" class="btn btn-secondary">
                                        Load
                                    </button>
                      
                                    <button type="button" id="save" class="btn btn-secondary">
                                        Save
                                    </button>

                                    <button type="button" id="saveas" class="btn btn-secondary">
                                        Save as
                                    </button>
                                </div>

                                <!-- Select -->
                                <div class="col-lg-6">
                                    <select id="ondemand-config" class="selectpicker" data-width="100%" style="width: auto !important;">
                                        <option value="default">Select a config</option>
                                        {{range .ConfigList}}
                                        <option value="{{.}}">{{.}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BLOCK 2: Configuration -->
                    <div class="col-lg-4">
                        <div class="border rounded p-3 h-100">
                            <div class="row align-items-center g-2">
                                <!-- Update devices -->
                                <div class="col-lg-4">
                                    <button type="button" id="updatertr" class="btn btn-secondary">
                                        Update Devices
                                    </button>
                                </div>
                                <!-- Select -->
                                <div class="col-lg-8">
                                    <select id="routerlist" class="selectpicker" data-width="100%" data-actions-box="true" multiple style="width: auto !important;">
                                        {{range .Rtrs}}
                                        <option value="{{.Shortname}}">{{.Shortname}}</option>
                                        {{end}}
                                    </select>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!-- BLOCK 3: Actions -->
                    <div class="col-lg-4">
                        <div class="border rounded p-3 h-100">
                            <div class="d-flex flex-wrap justify-content-center  gap-2">
                                <button type="button" id="startstop" class="btn btn-success d-flex align-items-center justify-content-center">
                                {{if .CurrentContext.Run}}
                                <span id="btn-text">Stop Collector</span>
                                <i id="collecting-icon" class="fa fa-circle text-danger ms-2 blink" style="display: inline-block;"></i>
                                {{else}}
                                <span id="btn-text">Start Collector</span>
                                <i id="collecting-icon" class="fa fa-circle text-danger ms-2" style="display: none;"></i>
                                {{end}}
                                </button>
                                <button type="button" id="clear" class="btn btn-warning">
                                    Clear On-Demand DB
                                </button>
                                <button type="button" id="reset" class="btn btn-danger">
                                    Reset All
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <br>

            <div id="result" class="mt-4">
                <div class="card">
                    <div class="card-body p-0">
                        <div id="configName" class="d-flex align-items-center">
                        <label><b>Current config:&nbsp;</b>{{.CurrentContext.CurrentProfile.Name}}</label>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th style="width:35%">Path</th>
                                        <th style="width:30%">Fields</th>
                                        <th style="width:25%">Tags</th>
                                        <th style="width:10%" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="result-table-body">
                                    <!-- Filled dynamically -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // load current context from server side
        window.dynamicData = {{.CurrentContext}};
    </script>

    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/bootstrap-waitingfor.min.js"></script>
    <script src="js/bootstrap-multiselect.js"></script>
    <script src="js/dark.js"></script>
    <script src="js/ondemand.js"></script>


</body>

</html>