<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>jts-portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/jtsostyle.css">
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/bootstrap-multiselect.css">
</head>

<body>
        <nav class="navbar navbar-light navbar-expand-md py-3">
          <div class="container">
              <img src="img/logo-new.png" width="300" height="50">
              <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                  <span class="visually-hidden">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="routers.html">Routers</a></li>
                    <li class="nav-item"><a class="nav-link" href="profiles.html">Profiles</a></li>
                    <li class="nav-item"><a class="nav-link" href="doc.html">Doc</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.GrafanaPort}} + '/?orgId=1, _blank')">Grafana</a></li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" data-bs-toggle="dropdown">Tools</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="browser.html">gNMI browser</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-bs-toggle="dropdown">Admin</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="cred.html">Credentials</a></li>
                            <li><a class="dropdown-item" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.ChronografPort}} + '/sources/0/chronograf/data-explorer', '_blank')">Manage InfluxDB</a></li>
                            <li><a class="dropdown-item" href="#" onclick="window.open(window.location.protocol + '//' + window.location.hostname + ':' + {{.ChronografPort}} + '/sources/0/tickscripts', '_blank')">Manage Tick scripts</a></li>
        
                        </ul>
                    </li>
                </ul>
                  <div class="form-check form-switch ms-3">
                    <input class="form-check-input" type="checkbox" id="darkModeSwitch">
                    <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                </div>
              </div>
          </div>
      </nav>

    <div class="other-div">
        <div class="card other-card">
            <div class="card-body">
                <h4 class="card-title">Profile associations Management</h4>
                <form >
                    <div class="form-container">
                        <div class="left-column">
                            <label class="form-label">Select a Router:</label>
                            <select id="router" class="selectpicker" data-width="100%">
                                {{range .Rtrs}}
                                <option value="{{.Shortname}}">{{.Shortname}}</option>
                                {{end}}
                            </select>
    
                            <label class="form-label">Select profile(s):</label>
                            <select id="profiles" class="selectpicker" data-width="100%" data-actions-box="true" multiple>
                                {{range .Profiles}}
                                <option value="{{.}}">{{.}} profile</option>
                                {{end}}
                            </select>
                        </div>
    
                        <div class="right-column">
                            <div class="d-flex justify-content-center align-items-center">
                                <input onclick="addAsso();" class="btn btn-success" type="button" value="Create association" name="addB">
                            </div>
                        </div>
                    </div>
                </form>
           
            </div>
        </div>
    </div>
    <br/>
    <div class="other-div">
        <div class="card other-card">
            <div class="card-body">
                <h4 class="card-title">Current profile associations</h4>
                <div class="d-flex justify-content-start align-items-center mb-3">
                    <button class="btn btn-success" onclick="importCSV()">
                        <i class="fa fa-upload"></i> Import CSV
                    </button>
                    <button class="btn btn-success ms-2" onclick="showInfo()">
                        <i class="fa fa-info-circle"></i> Info
                    </button>
                    <input type="file" id="fileInput" accept=".csv" style="display: none;" />
                </div>
                <div class="table-responsive">
                    <table id="ListProfiles" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Router</th>
                                <th>Profile(s)</th>
                                <th width="5%">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Assos}}
                            <tr>
                                <td>{{.Shortname}}</td>
                                <td>{{.Profiles}}</td>
                                <td class="d-xxl-flex justify-content-xxl-center"><button
                                        onclick="removeAsso('{{.Shortname}}', this)" class="btn btn-danger"
                                        style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                            style="font-size: 15px;"></i></button></td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-multiselect.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/bootstrap-waitingfor.min.js"></script>
    <script src="js/profiles.js"></script>
    <script src="js/dark.js"></script>

</body>

</html>