<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>jts-portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/bootstrap-multiselect.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><img src="img/logo.png" width="129" height="67"><a class="navbar-brand d-flex align-items-center" href="#"><span>Juniper Telemetry Stack</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="cred.html">Credentials</a></li>
                    <li class="nav-item"><a class="nav-link active" href="routers.html" style="border-color: rgba(0, 0, 0, 0.65);">Routers</a></li>
                    <li class="nav-item"><a class="nav-link" href="profiles.html">Profiles</a></li>
                    <li class="nav-item"><a class="nav-link" href="doc.html" >Doc</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="window.open(`${window.location.hostname}:{{.GrafanaPort}}`)">Grafana</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Router Management</h4>
            <form><label class="form-label">Short Name:</label><input id="Shortname" class="form-control" type="text"></form>
            <form><label class="form-label" style="margin-top: 10px;">Hostname or IP:</label><input id="Hostname" class="form-control" type="text"></form>   
            <form style="margin-top: 10px;"><label class="form-label">Family:</label>&nbsp;<select id="Family" class="selectpicker">
                    <option value="mx" selected="">MX Series</option>
                    <option value="ptx">PTX Series</option>
                    <option value="acx">ACX Series</option>
                </select></form><input onclick="addRouter();" class="btn btn-primary" type="submit" value="Add Router" name="addB" style="margin: 10px;margin-right: 0;margin-bottom: 0;margin-left: 0;">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Current routers</h4>
            <div class="table-responsive">
                <table id="ListRtrs" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hostname</th>
                            <th>Family</th>
                            <th width="5%">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Rtrs}}
                        <tr>
                            <td>{{.Shortname}}</td>
                            <td>{{.Hostname}}</td>
                            <td>{{.Family}}</td>
                            <td  class="d-xxl-flex justify-content-xxl-center"><button onclick="remove('{{.Shortname}}', this)" class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash" style="font-size: 15px;"></i></button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/bootstrap-multiselect.js"></script>
    <script src="js/routers.js"></script>

</body>

</html>