<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>OpenJTS - Stack Statistics</title>
    <link rel="stylesheet" href="css/myfonts.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/jtsmain.css">
</head>

<body>

    <div class="modal fade" style="animation-name: animatetop;" id="logs" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width: 95%;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #13215c; color: white;">
                    <h5 class="modal-title" id="modaltitle">Last 200 logs of the container...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none; border: none;" onclick="closeModal()">
                        <i class="fas fa-times" aria-hidden="true" style="font-size: 1.5rem; color: white;"></i>
                    </button>
                </div>
                <div class="modal-body" id="modalcore" style='font-family: "Courier New", Courier, monospace; max-height: 600px; text-shadow: none;'>

                </div>
            </div>
        </div>
    </div>

    {{template "navbar" .}}

    <div class="container mt-4">
        <div class="d-flex align-items-center mb-4">
            <i class="fas fa-chart-bar fa-lg text-success me-2"></i>
            <h1 class="h3 mb-0">Container Statistics</h1>
        </div>
    </div>

    <div class="other-div">
        <div class="card other-card">
            <div class="card-body">
                <h4 class="card-title">Container utilization & logs</h4>
                <i><label class="form-label">Data are refreshed every minute...</label></i>
                </br>
                <div id="container-gauges" class="row"></div>

            </div>
        </div>
    </div>

    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-waitingfor.min.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/raphael-2.1.4.min.js"></script>
    <script src="js/justgage.js"></script>
    <script src="js/stats.js"></script>
    <script src="js/dark.js"></script>
</body>

</html>