<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Super Timor - Telemetry Service</title>

  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/bootstrap-table.min.js"></script> 
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/extensions/editable/bootstrap-table-editable.min.js"></script> 
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/extensions/export/bootstrap-table-export.min.js"></script> 
  <script type="text/javascript" language="javascript" src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script> 
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/extensions/filter-control/bootstrap-table-filter-control.min.js"></script> 
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-waitingfor/1.2.8/bootstrap-waitingfor.js"></script>


  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/bootstrap-table.css">
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
  
  <style type="text/css" class="init">

  .card-header .fa {
    transition: .3s transform ease-in-out;
    }
    .card-header .collapsed .fa {
    transform: rotate(90deg);
    }
  </style>

</head>
<body>
 
  <!--Navbar-->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

    <a class="navbar-brand" href="#">
        <img src="static/img/logo.png" width="30" height="30" alt="logo" class="d-inline-block align-top">
        SUPER TIMOR
  </a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          </a>
        </li>
        <li class="nav-item">
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Services</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          </div>
        </li>
  
      </ul>
    </div>
    <!-- Collapsible content -->
  </nav>
</br>

<div class="col-md-12">
    <div class="card border-dark mb-3">
      <h5 class="card-header bg-dark text-white">
                Affichage des TAGs d'enrichissement par routeur
          </h5>

  
  <div class="input-group mb-3">
    <input id="rtr_name" type="text" class="form-control" placeholder="Nom du routeur" aria-label="Nom du routeur" aria-describedby="search"  style="box-shadow:inset 0 0 4px #eee; margin:10px; padding:6px 12px; border-radius:4px; border:1px solid silver; font-size:1.1em;">
    <div class="input-group-append">
      <button type="button" id="btnsearch" class="btn btn-primary" style="margin:10px; padding:6px 12px; border-radius:4px; border:1px solid silver; font-size:1.1em;" onclick="Search()">Rechercher</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card  mb-3"  style="margin-left:10px; margin-right:10px;">
        <h5 class="card-header bg-dark text-white">
          Résultat de la recherche
          </h5>
  <input type="text" value="" style="width:240px; margin:10px; padding:6px 12px; border-radius:4px; border:1px solid silver; font-size:1.1em;" id="searching" placeholder="Recherche spécifique" />


  <div id="rtr" margin:10px;>
  </div>
</div>
</div>
</div>
</div>
</div>

<script>

var input = document.getElementById("rtr_name");

input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
    document.getElementById("btnsearch").click();
  }
});
$(function() {
  var to = false;
  $('#searching').keyup(function () {
    if(to) { clearTimeout(to); }
    to = setTimeout(function () {
      var v = $('#searching').val();
      $('#rtr').jstree(true).search(v);
    }, 250);
  });

  $("#rtr").jstree({
                "core" : {
                  "data" : []
                },
                "plugins" : [ "state","dnd","contextmenu","wholerow","search"]
            });
});



function Search() {
  waitingDialog.show();
  $('#rtr').jstree(true).settings.core.data = data;
$('#rtr').jstree(true).refresh();
waitingDialog.hide();
}
data = [
    {
       "id":"77ea9365-9535-4b70-b9b5-04efc0523e38",
       "parent":"93b81a0b-a5e8-4fc8-976f-d63cffefd8fd",
       "text":"components",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"4e8c0310-a5d9-4aa0-99bf-77e3d23cbd90",
       "parent":"77ea9365-9535-4b70-b9b5-04efc0523e38",
       "text":"component[name=*]",
       "icon":"fas fa-search-plus"
    },
   
    {
       "id":"8b456389-91fc-491b-85db-81722482de01",
       "parent":"4e8c0310-a5d9-4aa0-99bf-77e3d23cbd90",
       "text":"properties",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"879b237b-5914-4623-9e2b-8ea01a97d719",
       "parent":"8b456389-91fc-491b-85db-81722482de01",
       "text":"property[name=*]",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"9dce7860-2837-4835-9b16-2230c2ec0f4d",
       "parent":"879b237b-5914-4623-9e2b-8ea01a97d719",
       "text":"state",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "parent":"9dce7860-2837-4835-9b16-2230c2ec0f4d",
       "text":"value",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"FPCx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"ddb700c4-516e-4b69-867f-ab7da5ac75ae",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"state-offline-reason = power configured off",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"1130caaf-b26f-419b-a591-651f29756a00",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"state-offline-reason-snmp = 5",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"7fd477db-bf5c-4ce2-8147-f00e30cf7542",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"power-usage = 276",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"efca86bc-d72f-4813-8a15-09faa6d30665",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"memory-utilization-buffer = 0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d29b47de-7585-4e8f-a8b4-f15654ee3853",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"over-temperature = FALSE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"3d640ef3-f810-4148-80f9-7026e61a4d0b",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"memory-dram-used = 0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0427d6e0-4d66-46a4-816a-d8b65226acdd",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"fru-failed = FALSE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"bcc5cbba-49c3-4541-87a6-6dc77e88ccf4",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"hardware-rev = REV 11",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"82ac5725-1f7f-4ba1-b6a8-8e91f978aab0",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"software-rev = Version 23.4R1.8 by builder on 2023-12-13 10:55:19 UTC",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0fc84ce7-cedd-494d-a149-089484b10adb",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"fru-model-number = MPCE-3D-16XGE-SFPP",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"a9f96129-463f-46ce-b77d-58d1d23f2767",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"memory-utilization-heap = 0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"3db04ef0-f5ad-4504-89fc-086b43a4d9dc",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"manufacture-date = date:2011-11-17",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"454f01cc-d310-4c16-8f1a-2911afd7e530",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"power-maximum = 440",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"703845ec-0100-4cb6-ae85-366089862aa7",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"state = Offline",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"9655b07f-60c3-43a7-a661-c72c93e925da",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"mpcs-software-rev = rev:0.26.0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0ebffb7e-e677-4651-b0f2-6a81baf03f36",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"temperature-back-to-normal = TRUE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b1e59eaa-2772-4ae8-b388-67e04ef127b7",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"rom-software-rev-chassis = PC Bios",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"28716ec9-650f-4b94-a5f7-5daa8395b893",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"temperature-exhaust-b = 29",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"a4cb027a-d821-40e0-8f37-e18af8fa6d26",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"uptime = 1238507",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"7978dc8f-f901-4eca-a88b-43d8e7b9c488",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"firmware-rev = rev:0.26.0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"a725fa97-c0dc-4faa-a78f-42f4585bf04b",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"temperature-intake = 32",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b94e542b-3d5f-448f-a8f5-7a42e7a599ed",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"temperature-exhaust-a = 28",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b32bc277-5860-4f13-b7cc-8b47a2eb8caa",
       "parent":"5bf4cb9c-6f49-420d-952e-fa739a32aff8",
       "text":"rom-software-rev-system = rev:9.10.0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"PEMx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"31898179-40c6-4943-bdb1-a067f7888f17",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"fru-model-number = PWR-MX480-2520-AC-S",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"574aa095-b471-48eb-9a42-c90444ff0281",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"power-capacity-maximum = 2050",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"f6a60f89-4b2b-4801-97f2-e359e8434eae",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"power-dc-output = 399",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"336f2ea5-029a-4781-a98e-564436267b38",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"power-capacity-usage = 2050",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"4808650c-21f8-4679-84ee-b873128bd0f5",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"state = Online",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"192d2d51-90b7-49a8-9a41-b00f7c061e56",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"power_zone_no = 0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"7959d15c-be45-4828-9d93-58ddf513cc16",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"temperature-status = OK",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ccd0e625-4620-422f-9a3e-804e292effdd",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"power-ac-input = OK (1 feed expected, 1 feed connected)",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"fc741070-f5c6-44ab-8283-ee55e96d9e8f",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"hardware-rev = Rev 01",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"efc20f18-04ac-4645-8a34-b297f9801045",
       "parent":"5b74825d-ec37-46a9-8d56-dba437fa5d67",
       "text":"manufacture-date = date:2017-05-22",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"3a98eae2-e3b2-4c73-9886-31ee86a532ea",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"FPCx:PICx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"6a7de147-6f1f-4a40-99b0-0bd83cc3b013",
       "parent":"3a98eae2-e3b2-4c73-9886-31ee86a532ea",
       "text":"temperature-back-to-normal = TRUE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c806885f-9ca6-4e3b-b8e7-7434bbd66293",
       "parent":"3a98eae2-e3b2-4c73-9886-31ee86a532ea",
       "text":"state = Online",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"2292f16d-b409-4ed6-ad10-b235c3466263",
       "parent":"3a98eae2-e3b2-4c73-9886-31ee86a532ea",
       "text":"over-temperature = FALSE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"da5d88d5-aec6-40aa-b256-d35b9d08e185",
       "parent":"3a98eae2-e3b2-4c73-9886-31ee86a532ea",
       "text":"fru-failed = FALSE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"9622f4e9-98b8-45c2-b50f-0e1307350e96",
       "parent":"3a98eae2-e3b2-4c73-9886-31ee86a532ea",
       "text":"uptime = 1238381",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"6e88814a-63e3-40cd-a986-39805a1577a4",
       "parent":"3a98eae2-e3b2-4c73-9886-31ee86a532ea",
       "text":"fru-model-number = MRATE-6xQSFPP-XGE-XLGE-CGE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"459a4fe0-df89-4728-acc4-70cb4006ba41",
       "parent":"3a98eae2-e3b2-4c73-9886-31ee86a532ea",
       "text":"manufacture-date = date:0000-00-00",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"341a5311-2ff6-4f89-bc4a-6b6f68062f8a",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"Left Fan Tray",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"3bf30e4b-4fe1-42c3-a8fc-36c9e0891284",
       "parent":"341a5311-2ff6-4f89-bc4a-6b6f68062f8a",
       "text":"fru-model-number = FFANTRAY-MX480-HC-S",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"721cac95-6b4c-45a0-807b-7b49e89b1e14",
       "parent":"341a5311-2ff6-4f89-bc4a-6b6f68062f8a",
       "text":"state = OK",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c47bb088-0d07-44b0-a165-2140d6135a74",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"FPM Board",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"46f8a99b-feec-4c98-87ac-192a09f09c67",
       "parent":"c47bb088-0d07-44b0-a165-2140d6135a74",
       "text":"hardware-rev = REV 02",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"644a4dd9-e698-438f-9776-1db16c6dbb2b",
       "parent":"c47bb088-0d07-44b0-a165-2140d6135a74",
       "text":"manufacture-date = date:2014-01-09",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"00630dbb-c14c-4b17-a922-5a01ee734f56",
       "parent":"c47bb088-0d07-44b0-a165-2140d6135a74",
       "text":"state = Online",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"05559ed1-a5a2-4210-89f0-87d7c1d01066",
       "parent":"c47bb088-0d07-44b0-a165-2140d6135a74",
       "text":"fru-model-number = CRAFT-MX480-S",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"Routing Enginex",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"359bdc5b-6082-4fc6-a68a-72bdc783e427",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"memory-utilization-buffer = 4",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ee683b87-8344-49f8-9e55-65265f62b675",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"memory-dram-installed = 49152",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"77fd9770-4d4c-47bb-8f45-a40ba6d18cca",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"mastership-state = Backup",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"935f9916-db3d-4052-bfca-cb9e529389af",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"firmware-rev = rev:0.55.2",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"83a0ade0-7c9f-4416-9010-a2703b6253d4",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"cpu-utilization-interrupt = 0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"1c2fac19-44b5-42aa-bb65-858be1547d7c",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"manufacture-date = date:2017-08-03",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"8c5f2fdb-df00-4b0f-8897-197ad921d425",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"temperature = 36",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0ca2c7ff-54c1-45e4-8ba3-239ac7319bf4",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"cpu-utilization-kernel = 0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d21db5f9-89cc-4529-aeb8-286f25b67548",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"state = Online Standby",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"09afbb13-a3c3-48d1-b449-0342e377c7a9",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"memory-dram-used = 1966",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"2971f406-9dfc-45ae-b496-e7803db9d4eb",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"mastership-priority = Backup (default)",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"4232c49c-5c42-4566-a700-accfc7fe95c7",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"reboot-reason = 0x1:power cycle/failure",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"6da04439-9a81-4bcc-b761-334b1b4e695e",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"uptime = 7327601",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"660d5d62-80d3-4980-8c74-5e0293a48462",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"hardware-rev = REV 15",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"aa11361b-f705-401a-bfce-e438bad4e297",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"cpu-utilization-user = 0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"1c8caf85-d7b3-4c2d-ac3e-4b7b950c3e67",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"fru-failed = FALSE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"beb4d401-e382-4975-83b1-af1097ad390e",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"cpu-utilization-background = 0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"6620e6eb-2625-444c-851f-7ac2fa9b1d5e",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"cpu-utilization-idle = 100",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"1a36bddc-6190-4218-a62a-5847b704354e",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"temperature-cpu = 46",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"e4a78d4a-3712-40e3-8567-ee835029eb3a",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"fru-model-number = RE-S-X6-64G-S",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b90b758d-6347-4e18-8951-0e6b6f542f2a",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"over-temperature = FALSE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"dc2b491f-d07a-4223-adb6-1d24b5ea06ee",
       "parent":"c548d32c-73b3-48dd-a00c-86dc7208df8a",
       "text":"temperature-back-to-normal = TRUE",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ab54a581-f2d6-496e-bf6e-a9c0ef5749b5",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"Midplane",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"3ff28bcc-05e9-4d8b-9794-ef15b46b9a61",
       "parent":"ab54a581-f2d6-496e-bf6e-a9c0ef5749b5",
       "text":"hardware-rev = REV 05",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0a3fb0ca-6bb8-47ff-89d0-928d7b1f567d",
       "parent":"ab54a581-f2d6-496e-bf6e-a9c0ef5749b5",
       "text":"fru-model-number = CHAS-BP-MX480-S",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"632b5609-1712-467e-bdba-b5b79129c9ba",
       "parent":"ab54a581-f2d6-496e-bf6e-a9c0ef5749b5",
       "text":"manufacture-date = date:2012-04-15",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"558bf033-7473-4cf1-8d89-166cfc4abd7e",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"FPCx:CPU",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"0a21086e-d6b6-459e-a774-14988d98c0d4",
       "parent":"558bf033-7473-4cf1-8d89-166cfc4abd7e",
       "text":"cpu-utilization-total = 9",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"5b74fe75-e3a6-42a3-9683-5898043c1977",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"FPCx:PICx:PORTx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"717a0746-c70f-4643-8ad6-2c24fa13669e",
       "parent":"5b74fe75-e3a6-42a3-9683-5898043c1977",
       "text":"software_rev = rev:01",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"514e01b0-e386-4504-984f-0204d0e20924",
       "parent":"5b74fe75-e3a6-42a3-9683-5898043c1977",
       "text":"vendor_part_number = SPQCELRCDFBJ2",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"473d3eed-ae6f-4805-b1cb-bdcb5eaced44",
       "parent":"5b74fe75-e3a6-42a3-9683-5898043c1977",
       "text":"wavelength = n/a",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ce0f61f2-8d05-467a-8df1-25aaf5f48696",
       "parent":"5b74fe75-e3a6-42a3-9683-5898043c1977",
       "text":"fiber_mode = SM",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"f2e87e20-cccf-47c3-ab7b-7a5eed524be9",
       "parent":"5b74fe75-e3a6-42a3-9683-5898043c1977",
       "text":"port-alt-name = et-0/1/23",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"843513eb-0039-4cc3-9e6e-5c713d090f72",
       "parent":"5b74fe75-e3a6-42a3-9683-5898043c1977",
       "text":"hardware_rev = rev:REV 01",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"177aaf0f-03cc-43de-9664-0f04992d7dc7",
       "parent":"5b74fe75-e3a6-42a3-9683-5898043c1977",
       "text":"firmware_rev = rev:0.0",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"Chassis",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"da01fd52-0b39-40a3-ba30-33a17171f913",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"power-zone-x-allocated = 1365",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"68fac703-3336-4e7b-b2b9-3932f1fdbccf",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"power-system-capacity = 4100",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0fa475c6-307e-4b76-9fa6-de19bac67227",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"temperature-ambient = 40",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"64940f68-1285-4e58-8dfb-6c5d76f19794",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"power-zone-x-remaining = 2735",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"4c7c7c5f-cc56-442a-a594-643f175f604c",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"manufacture-date = date:0000-00-00",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"4ac44686-7dd4-46e0-ba9d-91eb3016ea49",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"power-zone-x-maximum = 4100",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"16f1e2fd-aafa-45a4-95d8-8ccb001692cd",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"power-zone-x-capacity = 4100",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d36fba77-b0f1-4d90-9a38-e37dc737cd95",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"power-zone-x-usage = 798",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"afc52bf1-191b-446e-b1ac-e70bf154c6e8",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"power-system-remaining = 2735",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"25fbd345-0eaa-4490-8813-d810a0b620b0",
       "parent":"0efe7eee-ddd5-4a63-a66b-9fe1ad1f968b",
       "text":"power-system-maximum = 4100",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "parent":"6f8edf77-2239-4e47-a61b-c6a26bdb47f1",
       "text":"CBx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"e4a92f06-c335-47c9-a8af-3ceff520db31",
       "parent":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "text":"temperature-exhaust-a = 43",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d8d473a5-b74b-4e13-80a9-e43a065aa316",
       "parent":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "text":"state = Online Standby",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b86e249d-f539-4ddb-8d57-408b92ac56e5",
       "parent":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "text":"temperature = 40",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"3a035fb2-598d-47a2-889a-1b8f766857af",
       "parent":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "text":"temperature-exhaust-b = 43",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b08b377c-3b78-4785-a9d4-6a8a0a8ea8df",
       "parent":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "text":"temperature-intake = 40",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"f7665f06-9fff-47bb-9e5f-4dbfcba34762",
       "parent":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "text":"fru-model-number = SCBE3-MX-S",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"e38322fe-cd32-433b-9f9a-9c02b399241d",
       "parent":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "text":"manufacture-date = date:2022-11-28",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"16ded174-4725-4568-a5d5-fdb09c55f93c",
       "parent":"250f47a4-bd3f-455d-92a5-3e8edbb02493",
       "text":"hardware-rev = REV 40",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "parent":"9dce7860-2837-4835-9b16-2230c2ec0f4d",
       "text":"configurable",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"Chassis",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"7bc0abd5-2393-4359-8a48-c660e14f5713",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"manufacture-date = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"482e84d1-e489-48a3-9eaf-861f7b519568",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"power-zone-x-capacity = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"3dd859ae-83eb-4d34-8001-3cc28a224546",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"power-system-remaining = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"4937475a-83d3-46c9-9e82-acd752aab9ba",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"power-system-capacity = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"229ecaa1-3dc8-42b3-9cf2-5e2b876f60b8",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"power-zone-x-remaining = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"61a72bf2-9f1d-47bd-aaa4-01306b06d5e6",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"power-zone-x-usage = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"e9444697-c590-468b-91fd-362b3899c0f6",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"temperature-ambient = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"dc28f743-26cc-419e-8cb4-164826b73920",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"power-system-maximum = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"e1008fae-87f0-4268-b575-e4691177a289",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"power-zone-x-maximum = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"6bdafbec-3e74-4edb-a5b7-c9648297a4cb",
       "parent":"2c2e0f6a-8c82-4dc2-9be0-857f5f20351c",
       "text":"power-zone-x-allocated = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"4d22b799-fd50-4b82-b0b8-31d899aa01a7",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"Left Fan Tray",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"5b1af515-eaf5-4940-9e18-b40b6d33dacb",
       "parent":"4d22b799-fd50-4b82-b0b8-31d899aa01a7",
       "text":"state = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b3688dc6-34df-4708-a5f1-4d0022849b64",
       "parent":"4d22b799-fd50-4b82-b0b8-31d899aa01a7",
       "text":"fru-model-number = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"Routing Enginex",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"4e4439bf-62c2-40af-9d50-de5677a01fc6",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"temperature = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c3854eef-2cbb-4ec5-8ece-0428958094b3",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"hardware-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"26811a91-91b3-46c3-893f-d18036f6cd51",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"cpu-utilization-background = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"41bb4ffb-224b-44c8-b3a3-1f4218b351fe",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"fru-model-number = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"bd9154fd-b255-48f5-afc7-d46086dd455c",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"reboot-reason = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"891d8fe4-41ec-4558-a5d3-904ce189878c",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"temperature-back-to-normal = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ca53a9a2-6805-4cf9-ba14-69e3cc2db43c",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"firmware-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"f8175894-2893-4678-9f7d-9e41b7d24f36",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"temperature-cpu = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"7d626bad-545e-461b-819e-f9e48c3ca37c",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"memory-dram-used = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"9311543d-0f1f-41f6-8561-147bc9855951",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"memory-dram-installed = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c6f5cc92-eaf3-4f4b-b0ad-8fce5bb8d741",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"cpu-utilization-kernel = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0b90d158-6dba-46f3-b3bf-6e183d7d5a9a",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"uptime = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"be567e4f-517e-402b-ada9-a401b06af0d1",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"manufacture-date = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"f1002924-3d13-4e35-9b6d-5e71b6784145",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"state = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"8b447945-3b47-49fc-8c59-cf4a5e189353",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"cpu-utilization-interrupt = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"eac245f1-2f87-4a89-b040-0cda83322054",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"over-temperature = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"fd541679-9a0a-4902-a14f-a85956b6e377",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"mastership-priority = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d7d75e95-69ec-432f-8144-8bb8a7491e8a",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"memory-utilization-buffer = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"f0c13a74-c4be-4593-844c-c72650b90281",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"cpu-utilization-idle = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d5fb1b61-0620-40a4-ab6c-c9fe9d1e5bad",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"fru-failed = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"24ee84c2-934b-4ed0-8d47-ebbc57849e89",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"cpu-utilization-user = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"e11a468a-93c3-45cc-a183-e5f123cd87e6",
       "parent":"b6054b5f-f303-45c7-afd3-99a89db16c20",
       "text":"mastership-state = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"CBx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"e6d564e7-1a51-4eb2-be01-3b63627e34d0",
       "parent":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "text":"manufacture-date = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"3173452d-7d97-4d16-a031-18c2b0e07a9f",
       "parent":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "text":"temperature-exhaust-a = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"78f5ab17-0eef-4f5f-8bd9-bee963b3122e",
       "parent":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "text":"fru-model-number = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"2441b188-1c0c-445a-9e89-3d9e8586fc36",
       "parent":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "text":"temperature-exhaust-b = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ca9eafe5-a072-420e-aa26-c13400dea06e",
       "parent":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "text":"temperature-intake = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"7e928f42-9596-42c5-b288-d6fee9eff410",
       "parent":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "text":"hardware-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"e9d2c32c-44b2-4dd9-a44c-2aae4c58cf14",
       "parent":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "text":"temperature = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"e0d05351-b1c8-46df-a6ed-bb4f1c18e813",
       "parent":"bb405ee7-888c-4582-879a-fe406f3ddeb4",
       "text":"state = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"33702670-1d8f-4c92-a0f7-0e4db5e0736c",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"FPCx:PICx:PORTx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"37e55ca8-f7d1-471b-9f07-563bfcf00319",
       "parent":"33702670-1d8f-4c92-a0f7-0e4db5e0736c",
       "text":"fiber_mode = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"a1aee3e9-18a6-468f-b705-fdf6034ea375",
       "parent":"33702670-1d8f-4c92-a0f7-0e4db5e0736c",
       "text":"port-alt-name = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"253e146a-2e44-4998-9175-13bc640da89e",
       "parent":"33702670-1d8f-4c92-a0f7-0e4db5e0736c",
       "text":"firmware_rev = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"818aeeba-2522-4ea0-aecc-2823440d2b82",
       "parent":"33702670-1d8f-4c92-a0f7-0e4db5e0736c",
       "text":"software_rev = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"03e89df2-47fd-4d7e-a33f-346c7c3e5ca2",
       "parent":"33702670-1d8f-4c92-a0f7-0e4db5e0736c",
       "text":"hardware_rev = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d77583c5-6beb-4deb-b978-edf8ee681f1f",
       "parent":"33702670-1d8f-4c92-a0f7-0e4db5e0736c",
       "text":"vendor_part_number = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ca9d7139-b8f6-4af4-aaa1-7f44db048203",
       "parent":"33702670-1d8f-4c92-a0f7-0e4db5e0736c",
       "text":"wavelength = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"7d358096-2c43-49d6-a735-1befe9164854",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"Midplane",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"0a14edde-6458-49b6-97cf-96f36cb0a1ba",
       "parent":"7d358096-2c43-49d6-a735-1befe9164854",
       "text":"manufacture-date = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ee208751-e784-4726-938f-58bb0f2f7308",
       "parent":"7d358096-2c43-49d6-a735-1befe9164854",
       "text":"hardware-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"edaae4e6-9084-400f-8b4c-1fff65e3672a",
       "parent":"7d358096-2c43-49d6-a735-1befe9164854",
       "text":"fru-model-number = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c9c36868-c2bf-4970-9947-29559e09dac2",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"FPM Board",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"c35c381c-beab-48a2-9b29-4b68192602c4",
       "parent":"c9c36868-c2bf-4970-9947-29559e09dac2",
       "text":"fru-model-number = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"dec47601-7d5c-4dbc-bd55-dc62c61e5e2c",
       "parent":"c9c36868-c2bf-4970-9947-29559e09dac2",
       "text":"state = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"bc6f4622-d5b9-42df-9b19-9b2ed58d343c",
       "parent":"c9c36868-c2bf-4970-9947-29559e09dac2",
       "text":"hardware-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"84e1430e-cc95-4085-ba48-05297d44324c",
       "parent":"c9c36868-c2bf-4970-9947-29559e09dac2",
       "text":"manufacture-date = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"FPCx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"1571e97c-56d8-4c87-8c96-7c23ff330cd5",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"uptime = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"658c8e67-e204-4329-8e23-c4e4b8990430",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"memory-utilization-buffer = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"5d693fef-d926-4322-9b8d-6ad506260931",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"temperature-exhaust-a = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b889329c-5ec2-4d0c-bc8c-fd2c3647a5d5",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"hardware-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"6d1318d7-fa46-46bd-9d61-827c5489c79e",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"power-maximum = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"06ad4edc-56b5-40be-aa0a-f5b8f776faf8",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"rom-software-rev-system = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b38c86cf-8b79-41e8-b85f-8212047ed5d0",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"temperature-intake = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"5d62ba3c-6cba-4cab-a0f9-395ed2292064",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"state = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"0d73110c-42b3-4cfa-b13d-96a2e35362bc",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"manufacture-date = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"081fb8dd-efa0-405d-b3e8-e7f30f182416",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"firmware-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"4cc9f0ca-8da6-481c-b3f7-daca577551db",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"software-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"7f692b3c-ee8c-485a-b383-82e4ce85ad61",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"temperature-exhaust-b = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"6ffffeb8-7c70-4557-a4e8-b9777baa5dd8",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"over-temperature = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"55ad01b0-2e7a-4011-a4d9-1d56c139ff99",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"power-usage = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"347201a6-d6fb-4d79-9930-85e13a22a16d",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"memory-utilization-heap = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"4ab899c0-801e-49d0-a9b1-847389497abe",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"fru-failed = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c6bd29dd-1f4f-4adc-935e-7a3f2012939f",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"mpcs-software-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b285436f-2b7c-4f4b-847f-0f5872a4a85e",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"state-offline-reason-snmp = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c2f6d760-bcc0-4f6e-b7f0-f829095430e8",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"state-offline-reason = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ece24163-4e44-427b-b922-6c4bd60f0c51",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"temperature-back-to-normal = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ed235273-89e9-443c-a1f4-a458bff51979",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"memory-dram-used = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"331a0328-69bf-4542-8e1d-28d4eb38f19a",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"rom-software-rev-chassis = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"f964abae-939f-407e-8463-97182ba71ce2",
       "parent":"b1d2929d-1fa7-48a2-9501-b7a82385c18d",
       "text":"fru-model-number = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"13c89b11-7520-4ea0-90dc-3ada274acab8",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"FPCx:CPU",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"b3c78d55-6e88-4b96-aed4-7575bf8a1238",
       "parent":"13c89b11-7520-4ea0-90dc-3ada274acab8",
       "text":"cpu-utilization-total = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"PEMx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"9214e151-928e-4aa8-b2ef-b27a89a2d936",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"fru-model-number = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"04ea8902-78e2-4709-97a6-b462a4bce355",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"manufacture-date = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"7d782660-2185-4c05-95e0-fce9cf062ef8",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"power-ac-input = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"9411abf6-aadd-4d41-8ae1-624676ff4d97",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"state = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"b7184589-b065-40e1-a160-2f593f5fa483",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"temperature-status = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"31a0b06c-a9db-4043-bff2-ca0541b7b0a6",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"power-capacity-maximum = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"ceafeab4-a478-41b3-a5c6-07a4fdedfe9d",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"power_zone_no = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"e9c7b4bf-8001-4ce2-8377-126be63994cd",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"power-capacity-usage = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"499def03-0add-43bd-94ae-97c083536699",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"hardware-rev = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d070cdb5-78f1-4323-8b30-3fc8eefe747f",
       "parent":"41450c4a-cc3c-49ee-a7ec-87c4f693d823",
       "text":"power-dc-output = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"96ab6dc2-3bb1-441a-af4a-938c7b4e4bc2",
       "parent":"379c0d0f-00ba-4946-9956-b7ef79b9c152",
       "text":"FPCx:PICx",
       "icon":"fas fa-search-plus"
    },
    {
       "id":"b5607cab-a89a-493e-abaa-0822be7aa2b6",
       "parent":"96ab6dc2-3bb1-441a-af4a-938c7b4e4bc2",
       "text":"temperature-back-to-normal = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d12594b2-5bd8-4531-963e-4791b7acec09",
       "parent":"96ab6dc2-3bb1-441a-af4a-938c7b4e4bc2",
       "text":"fru-failed = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"96e8b0d0-3640-4e29-be76-39f8567d7a97",
       "parent":"96ab6dc2-3bb1-441a-af4a-938c7b4e4bc2",
       "text":"over-temperature = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"f0ad9f73-ee8d-4165-b137-f4dea82129cf",
       "parent":"96ab6dc2-3bb1-441a-af4a-938c7b4e4bc2",
       "text":"state = true",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"d86927ad-cf7a-442d-b0f8-cc8c5e04d5fc",
       "parent":"96ab6dc2-3bb1-441a-af4a-938c7b4e4bc2",
       "text":"uptime = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"c09ac6b6-2ca8-48a0-bf3d-14516eb279b5",
       "parent":"96ab6dc2-3bb1-441a-af4a-938c7b4e4bc2",
       "text":"fru-model-number = false",
       "icon":"fas fa-sign-out-alt"
    },
    {
       "id":"80c48460-02e3-488d-80f4-7eb651480b08",
       "parent":"96ab6dc2-3bb1-441a-af4a-938c7b4e4bc2",
       "text":"manufacture-date = false",
       "icon":"fas fa-sign-out-alt"
    }
 ]
 </script>
 </body>
 </html>