}
body.dark-mode #monitor .card {
    background: #2b2b2b;
    border-radius: 8px;
    border: 1px solid #444;
    padding: 12px 14px;
}

#monitor .card {
    background: #ffffff;
    border-radius: 15px;
    padding: 12px 14px;
}

strong {
    color: #000000;
}

body.dark-mode strong {
    color: #ffffff;
}